* {
  margin: 0;
}
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-dark2 {
  color: #424242;
}
.text-dark3 {
  color: #727272;
}
.bg-clr {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ff8f0e91;
}

.btn-primary:active {
  background-color: #ff8f0e;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* header styles */

/* navbar styles */
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related contents */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-size: 1rem;
}
.banner-image {
  margin-bottom: 45px;
  width: 100%;
}

/* Features related styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-features {
  padding-left: 70px;
  max-width: 540px;
}
.features-title .design1 {
  font-weight: 500;
}
.features-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.features-title .design2 {
  color: #ff900e;
}
.features-details {
  font-size: 1rem;
  line-height: 26px;
  padding-top: 24px;
}
/* Reaponaive media query Phone */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams {
    flex-direction: column;
  }
  .nav-link {
    padding-top: 5px;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .brand {
    font-size: 2em;
  }
  .banner-title {
    font-size: 3rem;
  }
  .btn-primary {
    padding: 8px;
  }
  main > section {
    margin-top: 20px;
  }
  .team-features {
    text-align: center;
    padding: 5px 5px 0 5px;
  }
  .features-title {
    font-size: 2rem;
  }
}
/* Reaponaive media query Tab */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .navbar,
  .nav-link,
  .teams {
    flex-direction: column;
  }
  .team-features {
    text-align: center;
    padding: 5px 5px 0 5px;
    margin-top: 10px;
  }
    main > section {
    margin-top: 20px;
  }
  .btn-primary{
    padding: 10px;
  }
}

/* Reaponaive media query laptop */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar,
  .nav-link,
  .teams {
    flex-direction: column;
  }
  .team-features {
    text-align: center;
    padding: 5px 5px 0 5px;
    margin-top: 10px;
  }
    main > section {
    margin-top: 20px;
  }
    .btn-primary{
    padding: 15px;
  }
}