*{
  margin: 0;
}
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}
.text-dark2 {
    color: #424242;
}
.text-dark3 {
  color: #727272;
}
.bg-clr {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
/* header styles */

/* navbar styles */
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar , .banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related contents */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-size: 1rem;
}
.banner-image {
  margin-bottom: 45px;
  width: 100%;
}
/* Reaponaive media query */
@media screen and (max-width: 576px) {
  .navbar, .nav-link {
    flex-direction: column;
  }
}